@import "../variables";

//
// PRODUCT BLOCK
//

@import "../variables";

//
// VIDEO BLOCK
//

.text-block {
  display: flex;
  flex-direction: column;

  @media all and (min-width: $g-break-1) {
    flex-direction: row;
  }
}

.text-block__text {
  padding: 2rem;

  @media all and (min-width: $g-break-1) {
    padding: 3rem 6rem 3rem 3rem;
  }
}

.text-block__thumbnail {
  position: relative;
  overflow: hidden;
  display: none;

  @media all and (min-width: $g-break-1) {
    display: block;
    flex: 0 0 40%;
    width: auto;
    height: auto;
    margin-top: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: .1s all ease-in-out;
  }

  img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    transition: .1s all ease-in-out;
  }
}

.text-block__thumbnail-overlay {
  position: relative;
}