@import "../variables";

//
// TOP BAR
//

.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: $g-color-white;
  color: $g-color-text;
  z-index: 999;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.top-bar__logo {
  display: flex;
  align-items: center;
}

.top-bar__wrapper {

  @media all and (min-width: $g-break-1) {
    display: flex;
    justify-content: space-between;
  }
}

.top-bar__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem .5rem;
  transition: .3s all ease-in-out;

  .top-bar--scrolled & {
    padding: 1rem .5rem;
  }

  @media all and (min-width: $g-break-1) {
    width: auto;
   padding: 0;

    .top-bar--scrolled & {
      padding: 0;
    }
  }
}

.top-bar__nav {
  display: flex;
  align-items: center;
  padding-bottom: 1rem;

  @media all and (min-width: $g-break-1) {
    padding: 0;
  }
}

.top-bar__nav-opener {
  width: 25px;
  height: 24px;
  position: relative;
  margin-left: auto;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  z-index: 99;
  display: block;


  @media all and (min-width: $g-break-1) {
    display: none;

  }

  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $g-color-text;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0;

    .menu--opened & {
      top: 10px;
      width: 0;
      left: 50%;
    }
  }

  span:nth-child(2) {
    .menu--opened & {
      transform: rotate(45deg);
    }
  }

  span:nth-child(3) {
    .menu--opened & {
      transform: rotate(-45deg);
    }
  }

  span:nth-child(2),
  span:nth-child(3) {
    top: 10px;
  }

  span:nth-child(4) {
    top: 20px;

    .menu--opened & {
      top: 10px;
      width: 0;
      left: 50%;
    }
  }
}